* {
  box-sizing: border-box;
}

.container-fluid {
  align-items: center;
  margin: auto;
}

/* search bar start*/
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f0eeee;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}

.search___button {
  border: none;
  outline: none;
}

.search__input:focus,
.search__button:focus {
  background-color: #f0eeee;
}

.search__button:focus {
  outline: none;
  background-color: inherit;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
}

/* search bar end */

.clock {
  margin-top: 100px
}

.col-sm-12 {
  /* justify-content: center; */
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;

}

.col-md-6 {
  align-items: center;
}

.card {
  justify-content: center;
  height: 15rem;
  margin-top: 30%;
  margin: 0 1rem;
  padding: 0;
}

.card-time {
  text-align: center;
  align-content: center;
  height: 70%;
  background-color: black;
  color: white;
  padding: 60px;
}

.card-time h5 {
  font-size: 1rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
}