* {
    box-sizing: border-box;
}

.container-fluid{
  padding: ;
  align-items: center;
  margin: auto;
}
.clock {
    margin-top: 100px
}
.col-sm-12{
  /* justify-content: center; */
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;

  }
  .col-md-6{
    align-items: center;
  }
.card {
    justify-content: center;
    height: 15rem;
    margin-top: 30%;
    margin: 0 1rem;
    padding: 0;
}

.card-time {
    text-align: center;
    align-content: center;
    height: 70%;
    background-color: black;
    color: white;
    padding: 60px;
}

.card-time h5 {
    font-size: 3rem;
}

.card-body {
    display: flex;
    justify-content: space-between;
}
